:root {
  --primary: #0ea5e9;
  --danger: #ef4444;
  --warning: #eab308;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  width: 300px;
}

header,
main,
footer {
  padding: 4px;
}

section:not(:last-child) {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

section label {
  min-width: 24px;
  margin-right: 12px;
}

input {
  padding: 8px;
  height: 30px;
  border: 0.5px solid gray;
}

#title input,
#tag-box input {
  flex-grow: 1;
}

#tag-box .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-gorw: 1;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  width: 100%;
}

#tag-input {
  border: none;
  outline: none;
}

.tag {
  display: flex;
  align-items: center;
  color: white;
  background: black;
  margin: 4px;
  padding: 2px 6px;
}

#remind {
  justify-content: space-between;
}

#remind-days {
  width: 48px;
  text-align: center;
}

#remind-days + span {
  margin: 0 4px;
}

#remind-date {
  outline: 0;
  padding: 14px 4px;
  position: relative;
}

#remind-date::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  width: auto;
  height: auto;
}

#description textarea {
  resize: none;
  padding: 8px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer .btn {
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
}

footer .btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

footer .btn:last-child {
  margin-left: 12px;
}

.btn-danger {
  background: var(--danger);
}

.btn-primary {
  background: var(--primary);
}

.alert {
  padding: 12px 4px;
  color: white;
  background: var(--danger);
}

.hidden {
  display: none;
}
